$white: #fff;
$black: #000;
$gray: #333333;
$primaryColor: #C86DD7;
$backgroundColor: #FDF2FF;

$primaryFontRegular: 'Poppins Regular';
$primaryFontBold: 'Poppins Bold';
$primaryFontExtraBold: 'Poppins ExtraBold';
$secondaryFontRegular: 'SourceSansPro Regular';
$secondaryFontBold: 'SourceSansPro Bold';