@font-face {
    font-family: Poppins Regular;
    font-display: auto;
    src: local('Poppins Regular'), url('../fonts/Poppins-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: Poppins Bold;
    font-display: auto;
    src: local('Poppins Bold'), url('../fonts/Poppins-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: Poppins ExtraBold;
    font-display: auto;
    src: local('Poppins ExtraBold'), url('../fonts/Poppins-ExtraBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: SourceSansPro Regular;
    font-display: auto;
    src: local('SourceSansPro Regular'), url('../fonts/SourceSansPro-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: SourceSansPro Bold;
    font-display: auto;
    src: local('SourceSansPro Bold'), url('../fonts/SourceSansPro-Bold.ttf');
    font-style: normal;
}